;configuration file for STorM32 Web App v0.27b
; (c) www.OlliW.eu 2017
; case doesn't matter
; comments can be added at end of line with a ';'

;-------------------------------------------
;sets the mode, in which the ESP operates
; this can be Station, AP, AP Bridge, AP + gopro Station

;mode = station 
;mode = AP
mode = AP bridge

;sets the wifi router credentials
; is used only if mode = Station
; the url is something like e.g 192.168.2.117
; check the startup output on Tx to see which url is used

router ssid = 
router password = 

;sets the AP credentials
; is used if mode = AP, AP + gopro Station, AP Bridge
; the url is 192.168.4.1:80

AP ssid = STorM32 ESP  ;this must be STorM32 ESP if mode = AP bridge
AP password = thisisgreat

;sets the Gopro credentials
; is used if mode = AP + gopro Station
; enter the credentials as you find them in your gopro menu

gopro ssid = 
gopro password = 

;-------------------------------------------
;sets a link to an external js script
; if set, it will be used, otherwise the storm32web.js file in the FS system will be used
; this can be very convenient for development

;js link = http://www.olliw.eu/downloads/storm32/espwebapp/espweb.js

;sets a link to an external css
; if set, it will be used, otherwise the storm32web.css file in the FS system will be used
; this can be very convenient for development

;css link =   http://www.olliw.eu/downloads/storm32/espwebapp/espweb.css

;-------------------------------------------
;this enables the debug lines in the web app
debug = off